.landing-page {
  background-size: cover;
  min-height: 93.2vh;
  position: relative;
  color: white;
}

.landing-page p {
  font-size: 3rem;
}

.checkout-page {
  background-size: cover;
  min-height: 93.2vh;
  position: relative;
  color: white;
}

.checkout-page p {
  font-size: 3rem;
}

.form-control {
  background-color: rgb(219, 217, 217);
  /* color: black !important; */
}

.form-control::placeholder {
  color: gray;
}

.color-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.info-icon {
  width: 4rem;
  height: 4rem;
}

body {
  background-color: #f8f6f1;
}

#comparisonTable {
  display: none;
  margin-top: 20px;
   background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
 
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.selected-options {
  margin-bottom: 10px;
}

.cart-minus {
  text-decoration: none;
  color: red;
  cursor: pointer;
}

.cart-plus {
  text-decoration: none;
  color: green;
  cursor: pointer;
}

.delete-item {
  font-size: 18px;
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.search-box {
  width: 45vh;
  text-align: center;
}

.tutorial-image {
  max-width: 700px;
}
